<div>
  <h1 class="employees">Employees List</h1>
</div>
<ng-template #elseBlock>
  <div>
    <h1>Employees List</h1>
  </div>
</ng-template>

<div >
    <div class="matbutton" *ngIf="isCrud">
      <button mat-flat-button color="primary">Add Employee</button>
    </div>
  <div *ngIf="isEmpList">
    <app-employees></app-employees>
  </div>
</div>
<!-- <div *ngIf="condition; else elseBlock2">
  <footer>CSS feature flag is
    <strong style="color: green"> ENABLED</strong></footer>
</div>
<ng-template #elseBlock2>
  <div>
    <footer>CSS feature flag is
      <strong style="color: crimson;"> DISABLED</strong></footer>
  </div>
</ng-template> -->

<router-outlet />
